@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@import 'https://fonts.googleapis.com/css?family=Dosis';

body {
  /*background: #ebe9eb;*/
  padding-top: 50px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}
h1, h2, nav, footer {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
}
.jbtn {
  background: #31829c;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #999;
}
.jumbotron .container .jbtn:hover {
  color: #fff;
  background-color: #33a2c5;
  border-color: #33a2c5;
}
.navbar-inverse {
  background: #2d2529;
}
.jumbotron p {
  font-size: 24px;
}
.navbar-inverse .navbar-brand {
  transition: background-color 0.5s ease;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  text-shadow: 3px 0 2px #e74046, -3px 0 2px #33a2c5;
}
